
// Common To All Variants
DEVELOPMENT_TEAM = 23Z8894VWP
PRODUCT_BUNDLE_IDENTIFIER = $(APP_ID)
PRODUCT_NAME = $(APP_NAME)
PRODUCT_COPYRIGHT = Copyright © 2023 Formation Games. All rights reserved.
INFOPLIST_KEY_CFBundleDisplayName = $(APP_NAME)
IPHONEOS_DEPLOYMENT_TARGET = 13.0
MACOSX_DEPLOYMENT_TARGET = 14.0

// Defaults
APP_NAME=CLUB
APP_ID=games.formation.club
ASSETCATALOG_COMPILER_APPICON_NAME = AppIconProduction
